In [2]:
import pandas as pd

# Admissions
df_adm = pd.read_excel("D:/Kaggle datasets/HDHI Admission data.xlsx")

# Mortality
df_mort = pd.read_excel("D:/Kaggle datasets/HDHI Mortality Data.xlsx")

# Pollution
df_poll = pd.read_excel("D:/Kaggle datasets/HDHI Pollution Data.xlsx")

In [3]:
df_adm

,SNO,MRD No.,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,2017-04-01 00:00:00,2017-04-03 00:00:00,81,M,R,E,2025-04-17,3,...,0,0,0,0,0,0,0,0,0,0
1,2,234696,2017-04-01 00:00:00,2017-04-05 00:00:00,65,M,R,E,2025-04-17,5,...,0,0,0,0,0,0,0,0,0,0
2,3,234882,2017-04-01 00:00:00,2017-04-03 00:00:00,53,M,U,E,2025-04-17,3,...,0,0,0,0,0,0,0,0,0,0
3,4,234635,2017-04-01 00:00:00,2017-04-08 00:00:00,67,F,U,E,2025-04-17,8,...,0,0,0,0,0,0,0,0,0,0
4,5,234486,2017-04-01 00:00:00,2017-04-23 00:00:00,60,F,U,E,2025-04-17,23,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,15753,699585,31/03/2019,2019-04-04 00:00:00,86,F,U,O,2025-03-19,5,...,0,0,0,0,0,0,0,0,0,0
15753,15754,699500,2019-03-31 00:00:00,2019-04-01 00:00:00,50,M,R,E,2025-03-19,2,...,0,0,0,0,0,0,0,0,0,0
15754,15755,700415,31/03/2019,2019-09-04 00:00:00,82,M,U,E,2025-03-19,10,...,0,0,0,0,0,0,0,0,0,0
15755,15756,699524,31/03/2019,2019-03-04 00:00:00,59,F,U,O,2025-03-19,4,...,0,0,0,0,0,0,0,0,0,0
15756,15757,699524,31/03/2019,2019-03-04 00:00:00,59,F,U,O,2025-03-19,4,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df_adm.isnull().sum()

SNO                                   0
MRD No.                               0
D.O.A                                 0
D.O.D                                 0
AGE                                   0
GENDER                                0
RURAL                                 0
TYPE OF ADMISSION-EMERGENCY/OPD       0
month year                            0
DURATION OF STAY                      0
duration of intensive unit stay       0
OUTCOME                               0
SMOKING                               0
ALCOHOL                               0
DM                                    0
HTN                                   0
CAD                                   0
PRIOR CMP                             0
CKD                                   0
HB                                  252
TLC                                 286
PLATELETS                           285
GLUCOSE                             863
UREA                                241
CREATININE                          247
BNP                                8441
RAISED CARDIAC ENZYMES                0
EF                                 1505
SEVERE ANAEMIA                        0
ANAEMIA                               0
STABLE ANGINA                         0
ACS                                   0
STEMI                                 0
ATYPICAL CHEST PAIN                   0
HEART FAILURE                         0
HFREF                                 0
HFNEF                                 0
VALVULAR                              0
CHB                                   0
SSS                                   0
AKI                                   0
CVA INFRACT                           0
CVA BLEED                             0
AF                                    0
VT                                    0
PSVT                                  0
CONGENITAL                            0
UTI                                   0
NEURO CARDIOGENIC SYNCOPE             0
ORTHOSTATIC                           0
INFECTIVE ENDOCARDITIS                0
DVT                                   0
CARDIOGENIC SHOCK                     0
SHOCK                                 0
PULMONARY EMBOLISM                    0
CHEST INFECTION                       0
dtype: int64

In [36]:
import pandas as pd

def clean_hospital_data(df):
    # Define column groups
    id_cols = ["MRD NO."]
    date_cols = ["D.O.D"]
    numeric_cols = ["HB", "TLC", "PLATELETS", "GLUCOSE", "UREA", "CREATININE", "BNP", "EF"]
    categorical_cols = ["CHEST INFECTION"]

    # --- IDs as string ---
    for col in id_cols:
        if col in df.columns:
            df[col] = df[col].astype(str)

    # --- Dates as datetime ---
    for col in date_cols:
        if col in df.columns:
            df[col] = pd.to_datetime(df[col], errors="coerce")

    # --- Numeric columns ---
    for col in numeric_cols:
        if col in df.columns:
            df[col] = pd.to_numeric(df[col], errors="coerce")
            df[col] = df[col].fillna(df[col].mean())  # fill with mean

    # --- Categorical columns ---
    for col in categorical_cols:
        if col in df.columns:
            df[col] = df[col].fillna("Unknown").astype(str)

    return df

# -------------------------
# Usage
df_adm = pd.read_excel("D:/Kaggle datasets/HDHI Admission data.xlsx")
df_adm = clean_hospital_data(df_adm)

print("✅ Cleaned data types:\n", df_adm.dtypes)
print("\n🔎 Remaining null values:\n", df_adm.isnull().sum())

✅ Cleaned data types:
 SNO                                         int64
MRD No.                                    object
D.O.A                                      object
D.O.D                              datetime64[ns]
AGE                                         int64
GENDER                                     object
RURAL                                      object
TYPE OF ADMISSION-EMERGENCY/OPD            object
month year                         datetime64[ns]
DURATION OF STAY                            int64
duration of intensive unit stay             int64
OUTCOME                                    object
SMOKING                                     int64
ALCOHOL                                     int64
DM                                          int64
HTN                                         int64
CAD                                         int64
PRIOR CMP                                   int64
CKD                                         int64
HB                                        float64
TLC                                       float64
PLATELETS                                 float64
GLUCOSE                                   float64
UREA                                      float64
CREATININE                                float64
BNP                                       float64
RAISED CARDIAC ENZYMES                      int64
EF                                        float64
SEVERE ANAEMIA                              int64
ANAEMIA                                     int64
STABLE ANGINA                               int64
ACS                                         int64
STEMI                                       int64
ATYPICAL CHEST PAIN                         int64
HEART FAILURE                               int64
HFREF                                       int64
HFNEF                                       int64
VALVULAR                                    int64
CHB                                         int64
SSS                                         int64
AKI                                         int64
CVA INFRACT                                 int64
CVA BLEED                                   int64
AF                                          int64
VT                                          int64
PSVT                                        int64
CONGENITAL                                  int64
UTI                                         int64
NEURO CARDIOGENIC SYNCOPE                   int64
ORTHOSTATIC                                 int64
INFECTIVE ENDOCARDITIS                      int64
DVT                                         int64
CARDIOGENIC SHOCK                           int64
SHOCK                                       int64
PULMONARY EMBOLISM                          int64
CHEST INFECTION                            object
dtype: object

🔎 Remaining null values:
 SNO                                0
MRD No.                            0
D.O.A                              0
D.O.D                              1
AGE                                0
GENDER                             0
RURAL                              0
TYPE OF ADMISSION-EMERGENCY/OPD    0
month year                         0
DURATION OF STAY                   0
duration of intensive unit stay    0
OUTCOME                            0
SMOKING                            0
ALCOHOL                            0
DM                                 0
HTN                                0
CAD                                0
PRIOR CMP                          0
CKD                                0
HB                                 0
TLC                                0
PLATELETS                          0
GLUCOSE                            0
UREA                               0
CREATININE                         0
BNP                                0
RAISED CARDIAC ENZYMES             0
EF                                 0
SEVERE ANAEMIA                     0
ANAEMIA                            0
STABLE ANGINA                      0
ACS                                0
STEMI                              0
ATYPICAL CHEST PAIN                0
HEART FAILURE                      0
HFREF                              0
HFNEF                              0
VALVULAR                           0
CHB                                0
SSS                                0
AKI                                0
CVA INFRACT                        0
CVA BLEED                          0
AF                                 0
VT                                 0
PSVT                               0
CONGENITAL                         0
UTI                                0
NEURO CARDIOGENIC SYNCOPE          0
ORTHOSTATIC                        0
INFECTIVE ENDOCARDITIS             0
DVT                                0
CARDIOGENIC SHOCK                  0
SHOCK                              0
PULMONARY EMBOLISM                 0
CHEST INFECTION                    0
dtype: int64

In [38]:
df_adm.isnull().sum()

SNO                                0
MRD No.                            0
D.O.A                              0
D.O.D                              1
AGE                                0
GENDER                             0
RURAL                              0
TYPE OF ADMISSION-EMERGENCY/OPD    0
month year                         0
DURATION OF STAY                   0
duration of intensive unit stay    0
OUTCOME                            0
SMOKING                            0
ALCOHOL                            0
DM                                 0
HTN                                0
CAD                                0
PRIOR CMP                          0
CKD                                0
HB                                 0
TLC                                0
PLATELETS                          0
GLUCOSE                            0
UREA                               0
CREATININE                         0
BNP                                0
RAISED CARDIAC ENZYMES             0
EF                                 0
SEVERE ANAEMIA                     0
ANAEMIA                            0
STABLE ANGINA                      0
ACS                                0
STEMI                              0
ATYPICAL CHEST PAIN                0
HEART FAILURE                      0
HFREF                              0
HFNEF                              0
VALVULAR                           0
CHB                                0
SSS                                0
AKI                                0
CVA INFRACT                        0
CVA BLEED                          0
AF                                 0
VT                                 0
PSVT                               0
CONGENITAL                         0
UTI                                0
NEURO CARDIOGENIC SYNCOPE          0
ORTHOSTATIC                        0
INFECTIVE ENDOCARDITIS             0
DVT                                0
CARDIOGENIC SHOCK                  0
SHOCK                              0
PULMONARY EMBOLISM                 0
CHEST INFECTION                    0
dtype: int64

In [9]:
df_adm.duplicated()

0        False
4        False
5        False
6        False
10       False
         ...
15752    False
15753    False
15754    False
15755    False
15756    False
Length: 6561, dtype: bool

In [13]:
df_adm.drop_duplicates()

,SNO,MRD No.,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,2017-04-01 00:00:00,2017-04-03 00:00:00,81,M,R,E,2025-04-17,3,...,0,0,0,0,0,0,0,0,0,0
4,5,234486,2017-04-01 00:00:00,2017-04-23 00:00:00,60,F,U,E,2025-04-17,23,...,0,0,0,0,0,0,0,0,0,0
5,6,234675,2017-04-01 00:00:00,2017-04-10 00:00:00,44,M,U,E,2025-04-17,10,...,0,0,0,0,0,0,0,0,0,0
6,7,234563,2017-04-01 00:00:00,2017-04-06 00:00:00,56,F,U,E,2025-04-17,6,...,0,0,0,0,0,0,0,0,0,0
10,11,233512,2017-04-01 00:00:00,2017-04-15 00:00:00,52,M,U,E,2025-04-17,15,...,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,15753,699585,31/03/2019,2019-04-04 00:00:00,86,F,U,O,2025-03-19,5,...,0,0,0,0,0,0,0,0,0,0
15753,15754,699500,2019-03-31 00:00:00,2019-04-01 00:00:00,50,M,R,E,2025-03-19,2,...,0,0,0,0,0,0,0,0,0,0
15754,15755,700415,31/03/2019,2019-09-04 00:00:00,82,M,U,E,2025-03-19,10,...,0,0,0,0,0,0,0,0,0,0
15755,15756,699524,31/03/2019,2019-03-04 00:00:00,59,F,U,O,2025-03-19,4,...,0,0,0,0,0,0,0,0,0,0
15756,15757,699524,31/03/2019,2019-03-04 00:00:00,59,F,U,O,2025-03-19,4,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df_adm.duplicated()

0        False
4        False
5        False
6        False
10       False
         ...
15752    False
15753    False
15754    False
15755    False
15756    False
Length: 6561, dtype: bool

In [15]:
print(df_adm.dtypes)

SNO                                         int64
MRD No.                                    object
D.O.A                                      object
D.O.D                                      object
AGE                                         int64
GENDER                                     object
RURAL                                      object
TYPE OF ADMISSION-EMERGENCY/OPD            object
month year                         datetime64[ns]
DURATION OF STAY                            int64
duration of intensive unit stay             int64
OUTCOME                                    object
SMOKING                                     int64
ALCOHOL                                     int64
DM                                          int64
HTN                                         int64
CAD                                         int64
PRIOR CMP                                   int64
CKD                                         int64
HB                                         object
TLC                                        object
PLATELETS                                  object
GLUCOSE                                    object
UREA                                       object
CREATININE                                 object
BNP                                        object
RAISED CARDIAC ENZYMES                      int64
EF                                         object
SEVERE ANAEMIA                              int64
ANAEMIA                                     int64
STABLE ANGINA                               int64
ACS                                         int64
STEMI                                       int64
ATYPICAL CHEST PAIN                         int64
HEART FAILURE                               int64
HFREF                                       int64
HFNEF                                       int64
VALVULAR                                    int64
CHB                                         int64
SSS                                         int64
AKI                                         int64
CVA INFRACT                                 int64
CVA BLEED                                   int64
AF                                          int64
VT                                          int64
PSVT                                        int64
CONGENITAL                                  int64
UTI                                         int64
NEURO CARDIOGENIC SYNCOPE                   int64
ORTHOSTATIC                                 int64
INFECTIVE ENDOCARDITIS                      int64
DVT                                         int64
CARDIOGENIC SHOCK                           int64
SHOCK                                       int64
PULMONARY EMBOLISM                          int64
CHEST INFECTION                            object
dtype: object

In [16]:
print(df_adm.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6561 entries, 0 to 15756
Data columns (total 56 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   SNO                              6561 non-null   int64
 1   MRD No.                          6561 non-null   object
 2   D.O.A                            6561 non-null   object
 3   D.O.D                            6561 non-null   object
 4   AGE                              6561 non-null   int64
 5   GENDER                           6561 non-null   object
 6   RURAL                            6561 non-null   object
 7   TYPE OF ADMISSION-EMERGENCY/OPD  6561 non-null   object
 8   month year                       6561 non-null   datetime64[ns]
 9   DURATION OF STAY                 6561 non-null   int64
 10  duration of intensive unit stay  6561 non-null   int64
 11  OUTCOME                          6561 non-null   object
 12  SMOKING                          6561 non-null   int64
 13  ALCOHOL                          6561 non-null   int64
 14  DM                               6561 non-null   int64
 15  HTN                              6561 non-null   int64
 16  CAD                              6561 non-null   int64
 17  PRIOR CMP                        6561 non-null   int64
 18  CKD                              6561 non-null   int64
 19  HB                               6561 non-null   object
 20  TLC                              6561 non-null   object
 21  PLATELETS                        6561 non-null   object
 22  GLUCOSE                          6561 non-null   object
 23  UREA                             6561 non-null   object
 24  CREATININE                       6561 non-null   object
 25  BNP                              6561 non-null   object
 26  RAISED CARDIAC ENZYMES           6561 non-null   int64
 27  EF                               6561 non-null   object
 28  SEVERE ANAEMIA                   6561 non-null   int64
 29  ANAEMIA                          6561 non-null   int64
 30  STABLE ANGINA                    6561 non-null   int64
 31  ACS                              6561 non-null   int64
 32  STEMI                            6561 non-null   int64
 33  ATYPICAL CHEST PAIN              6561 non-null   int64
 34  HEART FAILURE                    6561 non-null   int64
 35  HFREF                            6561 non-null   int64
 36  HFNEF                            6561 non-null   int64
 37  VALVULAR                         6561 non-null   int64
 38  CHB                              6561 non-null   int64
 39  SSS                              6561 non-null   int64
 40  AKI                              6561 non-null   int64
 41  CVA INFRACT                      6561 non-null   int64
 42  CVA BLEED                        6561 non-null   int64
 43  AF                               6561 non-null   int64
 44  VT                               6561 non-null   int64
 45  PSVT                             6561 non-null   int64
 46  CONGENITAL                       6561 non-null   int64
 47  UTI                              6561 non-null   int64
 48  NEURO CARDIOGENIC SYNCOPE        6561 non-null   int64
 49  ORTHOSTATIC                      6561 non-null   int64
 50  INFECTIVE ENDOCARDITIS           6561 non-null   int64
 51  DVT                              6561 non-null   int64
 52  CARDIOGENIC SHOCK                6561 non-null   int64
 53  SHOCK                            6561 non-null   int64
 54  PULMONARY EMBOLISM               6561 non-null   int64
 55  CHEST INFECTION                  6561 non-null   object
dtypes: datetime64[ns](1), int64(39), object(16)
memory usage: 2.9+ MB
None

In [30]:
def smart_convert(df):
    for col in df.columns:
        # Skip if already numeric or datetime
        if pd.api.types.is_numeric_dtype(df[col]) or pd.api.types.is_datetime64_any_dtype(df[col]):
            continue

        # Clean values (remove commas, spaces)
        temp = df[col].astype(str).str.replace(",", "", regex=False).str.strip()

        # Try convert to numeric
        numeric = pd.to_numeric(temp, errors="coerce")

        if numeric.notna().sum() > len(df) * 0.6:  # agar majority numeric hai
            # Check if all non-null values are integers
            if (numeric.dropna() % 1 == 0).all():
                df[col] = numeric.astype("Int64")   # safe integer
                print(f"🔢 {col} → Int64")
            else:
                df[col] = numeric.astype("float64")  # otherwise float
                print(f"🔢 {col} → float64")
            continue

        # Try convert to datetime
        try:
            converted = pd.to_datetime(df[col], errors="coerce", dayfirst=True)
            if converted.notna().sum() > len(df) * 0.5:
                df[col] = converted
                print(f"📅 {col} → datetime64")
                continue
        except:
            pass

        # Default: keep as string
        df[col] = df[col].astype(str)
        print(f"🔤 {col} → object")

    return df
     

df_adm = pd.read_excel("D:/Kaggle datasets/HDHI Admission data.xlsx")
df_adm = smart_convert(df_adm)

print("\n✅ Final column types:\n", df_adm.dtypes.to_string())

🔢 MRD No. → Int64
📅 D.O.A → datetime64
📅 D.O.D → datetime64
🔤 GENDER → object
🔤 RURAL → object
🔤 TYPE OF ADMISSION-EMERGENCY/OPD → object
🔤 OUTCOME → object
🔢 HB → float64
🔢 TLC → float64
🔢 PLATELETS → float64
🔢 GLUCOSE → float64

C:\Users\LENOVE\AppData\Local\Temp\ipykernel_18288\2465913236.py:25: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted = pd.to_datetime(df[col], errors="coerce", dayfirst=True)
C:\Users\LENOVE\AppData\Local\Temp\ipykernel_18288\2465913236.py:25: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted = pd.to_datetime(df[col], errors="coerce", dayfirst=True)
C:\Users\LENOVE\AppData\Local\Temp\ipykernel_18288\2465913236.py:25: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted = pd.to_datetime(df[col], errors="coerce", dayfirst=True)
C:\Users\LENOVE\AppData\Local\Temp\ipykernel_18288\2465913236.py:25: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  converted = pd.to_datetime(df[col], errors="coerce", dayfirst=True)

🔢 UREA → float64
🔢 CREATININE → float64
🔤 BNP → object
🔢 EF → float64
🔢 CHEST INFECTION → Int64

✅ Final column types:
 SNO                                         int64
MRD No.                                     Int64
D.O.A                              datetime64[ns]
D.O.D                              datetime64[ns]
AGE                                         int64
GENDER                                     object
RURAL                                      object
TYPE OF ADMISSION-EMERGENCY/OPD            object
month year                         datetime64[ns]
DURATION OF STAY                            int64
duration of intensive unit stay             int64
OUTCOME                                    object
SMOKING                                     int64
ALCOHOL                                     int64
DM                                          int64
HTN                                         int64
CAD                                         int64
PRIOR CMP                                   int64
CKD                                         int64
HB                                        float64
TLC                                       float64
PLATELETS                                 float64
GLUCOSE                                   float64
UREA                                      float64
CREATININE                                float64
BNP                                        object
RAISED CARDIAC ENZYMES                      int64
EF                                        float64
SEVERE ANAEMIA                              int64
ANAEMIA                                     int64
STABLE ANGINA                               int64
ACS                                         int64
STEMI                                       int64
ATYPICAL CHEST PAIN                         int64
HEART FAILURE                               int64
HFREF                                       int64
HFNEF                                       int64
VALVULAR                                    int64
CHB                                         int64
SSS                                         int64
AKI                                         int64
CVA INFRACT                                 int64
CVA BLEED                                   int64
AF                                          int64
VT                                          int64
PSVT                                        int64
CONGENITAL                                  int64
UTI                                         int64
NEURO CARDIOGENIC SYNCOPE                   int64
ORTHOSTATIC                                 int64
INFECTIVE ENDOCARDITIS                      int64
DVT                                         int64
CARDIOGENIC SHOCK                           int64
SHOCK                                       int64
PULMONARY EMBOLISM                          int64
CHEST INFECTION                             Int64

In [39]:
print(df_adm.dtypes.to_frame("dtype"))

                                          dtype
SNO                                       int64
MRD No.                                  object
D.O.A                                    object
D.O.D                            datetime64[ns]
AGE                                       int64
GENDER                                   object
RURAL                                    object
TYPE OF ADMISSION-EMERGENCY/OPD          object
month year                       datetime64[ns]
DURATION OF STAY                          int64
duration of intensive unit stay           int64
OUTCOME                                  object
SMOKING                                   int64
ALCOHOL                                   int64
DM                                        int64
HTN                                       int64
CAD                                       int64
PRIOR CMP                                 int64
CKD                                       int64
HB                                      float64
TLC                                     float64
PLATELETS                               float64
GLUCOSE                                 float64
UREA                                    float64
CREATININE                              float64
BNP                                     float64
RAISED CARDIAC ENZYMES                    int64
EF                                      float64
SEVERE ANAEMIA                            int64
ANAEMIA                                   int64
STABLE ANGINA                             int64
ACS                                       int64
STEMI                                     int64
ATYPICAL CHEST PAIN                       int64
HEART FAILURE                             int64
HFREF                                     int64
HFNEF                                     int64
VALVULAR                                  int64
CHB                                       int64
SSS                                       int64
AKI                                       int64
CVA INFRACT                               int64
CVA BLEED                                 int64
AF                                        int64
VT                                        int64
PSVT                                      int64
CONGENITAL                                int64
UTI                                       int64
NEURO CARDIOGENIC SYNCOPE                 int64
ORTHOSTATIC                               int64
INFECTIVE ENDOCARDITIS                    int64
DVT                                       int64
CARDIOGENIC SHOCK                         int64
SHOCK                                     int64
PULMONARY EMBOLISM                        int64
CHEST INFECTION                          object

In [ ]:
df_adm.to_excel("D:/Kaggle datasets/HDHI_Admission_clean.xlsx", index=False)

In [4]:
import pandas as pd
df_mort = pd.read_excel("D:/Kaggle datasets/HDHI Mortality Data.xlsx")

In [5]:
df_mort

     S.NO     MRD  AGE GENDER  RURAL/URBAN DATE OF BROUGHT DEAD
0     353  235134   64       M           U           2017-04-02
1     301  235138   50       F           R           2017-04-02
2     302  236880   78       M           R           2017-04-04
3     278  238418   67       M           U           2017-04-06
4     276  239684   74       M           U           2017-04-08
..    ...     ...  ...     ...         ...                  ...
354   207  667743   48       M           U           2019-02-08
355   359  672791   49       F           U           2019-02-16
356   254  607486   54       M           U           2019-02-24
357    95  357880   61       M           U           2019-03-28
358   136  470035   70       F           U           2019-03-31

[359 rows x 6 columns]

In [6]:
df_mort.isnull().sum()

S.NO                    0
MRD                     0
AGE                     0
GENDER                  0
RURAL/URBAN             0
DATE OF BROUGHT DEAD    0
dtype: int64

In [7]:
df_mort.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
354    False
355    False
356    False
357    False
358    False
Length: 359, dtype: bool

In [10]:
df_mort.dtypes

S.NO                             int64
MRD                             object
AGE                              int64
GENDER                          object
RURAL/URBAN                     object
DATE OF BROUGHT DEAD    datetime64[ns]
dtype: object

In [11]:
import pandas as pd
df_poll = pd.read_excel("D:/Kaggle datasets/HDHI Pollution Data.xlsx")

In [12]:
df_poll

,DATE,AQI,PM2.5 AVG,PM2.5 MIN,PM2.5 MAX,PM10 AVG,PM10 MIN,PM10 MAX,NO2 AVG,NO2 MIN,...,CO AVG,CO MIN,CO MAX,OZONE AVG,OZONE MIN,OZONE MAX,PROMINENT POLLUTENT,MAX TEMP,MIN TEMP,HUMIDITY
0,2017-03-25,75,75,45,210,74,50,110,28,40,...,34,1,49,38,21,70,PM2.5,36,18,32.0
1,2017-03-26,82,82,47,153,75,65,86,29,26,...,32,7,55,30,8,70,PM2.5,38,19,23.0
2,2017-03-27,72,72,63,150,71,45,98,38,34,...,40,10,68,26,18,53,PM2.5,40,20,14.0
3,2017-03-28,80,78,63,88,80,73,87,39,37,...,25,12,48,21,4,71,PM10,40,21,36.0
4,2017-03-29,73,64,53,75,73,63,86,38,36,...,35,20,54,32,6,56,PM10,40,23,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,2019-03-27,93,93,37,190,86,51,122,2,1,...,17,9,35,34,5,58,PM2.5,30,16,35.0
733,2019-03-28,103,103,21,190,94,70,122,2,1,...,19,10,28,54,5,58,PM2.5,31,17,32.0
734,2019-03-29,80,78,43,126,80,57,103,13,6,...,24,12,44,49,18,67,PM10,32,17,30.0
735,2019-03-30,91,91,32,173,87,49,112,13,2,...,22,10,35,41,11,71,PM2.5,33,20,20.0
736,2019-03-31,77,68,34,98,77,55,101,12,2,...,28,8,39,40,18,75,PM10,35,20,5.0

In [13]:
df_poll.isnull().sum()

DATE                   0
AQI                    0
PM2.5 AVG              0
PM2.5 MIN              0
PM2.5 MAX              0
PM10 AVG               0
PM10 MIN               0
PM10 MAX               0
NO2 AVG                0
NO2 MIN                0
NO2 MAX                0
NH3 AVG                0
NH3 MIN                0
NH3 MAX                0
SO2 AVG                0
SO2 MIN                0
SO2 MAX                0
CO AVG                 0
CO MIN                 0
CO MAX                 0
OZONE AVG              0
OZONE MIN              0
OZONE MAX              0
PROMINENT POLLUTENT    0
MAX TEMP               0
MIN TEMP               0
HUMIDITY               4
dtype: int64

In [16]:
df_poll["HUMIDITY"] = df_poll["HUMIDITY"].fillna(df_poll["HUMIDITY"].mean())

In [17]:
df_poll.isnull().sum()

DATE                   0
AQI                    0
PM2.5 AVG              0
PM2.5 MIN              0
PM2.5 MAX              0
PM10 AVG               0
PM10 MIN               0
PM10 MAX               0
NO2 AVG                0
NO2 MIN                0
NO2 MAX                0
NH3 AVG                0
NH3 MIN                0
NH3 MAX                0
SO2 AVG                0
SO2 MIN                0
SO2 MAX                0
CO AVG                 0
CO MIN                 0
CO MAX                 0
OZONE AVG              0
OZONE MIN              0
OZONE MAX              0
PROMINENT POLLUTENT    0
MAX TEMP               0
MIN TEMP               0
HUMIDITY               0
dtype: int64

In [18]:
df_poll.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
732    False
733    False
734    False
735    False
736    False
Length: 737, dtype: bool

In [19]:
df_poll.dtypes

DATE                   datetime64[ns]
AQI                             int64
PM2.5 AVG                       int64
PM2.5 MIN                       int64
PM2.5 MAX                       int64
PM10 AVG                        int64
PM10 MIN                        int64
PM10 MAX                       object
NO2 AVG                         int64
NO2 MIN                         int64
NO2 MAX                        object
NH3 AVG                         int64
NH3 MIN                         int64
NH3 MAX                         int64
SO2 AVG                         int64
SO2 MIN                         int64
SO2 MAX                         int64
CO AVG                          int64
CO MIN                          int64
CO MAX                          int64
OZONE AVG                       int64
OZONE MIN                       int64
OZONE MAX                      object
PROMINENT POLLUTENT            object
MAX TEMP                        int64
MIN TEMP                        int64
HUMIDITY                      float64
dtype: object

In [21]:
cols_to_int = ["PM10 MAX", "NO2 MAX", "OZONE MAX"]

# Strings ko force karke numeric mein convert karna (errors='coerce' non-numeric ko NaN bana dega)
df_poll[cols_to_int] = df_poll[cols_to_int].apply(pd.to_numeric, errors="coerce")

# Ab NaN ko mean se fill karna
df_poll[cols_to_int] = df_poll[cols_to_int].fillna(df_poll[cols_to_int].mean())

# Ab int mein convert karna
df_poll[cols_to_int] = df_poll[cols_to_int].astype(int)

In [22]:
df_poll.dtypes

DATE                   datetime64[ns]
AQI                             int64
PM2.5 AVG                       int64
PM2.5 MIN                       int64
PM2.5 MAX                       int64
PM10 AVG                        int64
PM10 MIN                        int64
PM10 MAX                        int32
NO2 AVG                         int64
NO2 MIN                         int64
NO2 MAX                         int32
NH3 AVG                         int64
NH3 MIN                         int64
NH3 MAX                         int64
SO2 AVG                         int64
SO2 MIN                         int64
SO2 MAX                         int64
CO AVG                          int64
CO MIN                          int64
CO MAX                          int64
OZONE AVG                       int64
OZONE MIN                       int64
OZONE MAX                       int32
PROMINENT POLLUTENT            object
MAX TEMP                        int64
MIN TEMP                        int64
HUMIDITY                      float64
dtype: object

In [24]:
df_poll.to_excel("D:/Kaggle datasets/HDHI Pollution Data Clean .xlsx")

In [25]:
df_mort.isnull().sum()

S.NO                    0
MRD                     0
AGE                     0
GENDER                  0
RURAL/URBAN             0
DATE OF BROUGHT DEAD    0
dtype: int64

In [ ]:
import pandas as pd

# DataFrames load karna
df_adm = pd.read_excel("D:/Kaggle datasets/HDHI Admission data.xlsx")
df_mort = pd.read_excel("D:/Kaggle datasets/HDHI Mortality Data.xlsx")
df_poll = pd.read_excel("D:/Kaggle datasets/HDHI Pollution Data.xlsx")

# Output file path
output_path = "D:/Kaggle datasets/HDHI_Data.xlsx"

# Hamesha ek sahi Excel file banane ka tareeqa
with pd.ExcelWriter(output_path, engine="openpyxl") as writer:
    df_adm.to_excel(writer, sheet_name="Admission", index=False)
    df_mort.to_excel(writer, sheet_name="Mortality", index=False)
    df_poll.to_excel(writer, sheet_name="Pollution", index=False)